body {
    color: black;
    background-color: white;
    font-family: Ubuntu, "times new roman", times, roman, serif;
    font-size: 12pt;
    text-align: center
  }


img {
    width: 241px;
    height: 183.7625px;
}

